@page
@model TTech.IDP.Pages.User.ActivationCodeSent.IndexModel
@{
    <h3 class="panel-title">User Registration</h3>
    <h3>
        You have successfully registered . check your e-mail to activate your acccount
    </h3>
}
